.input {
  padding: 1rem 2rem;
  font-size: 1.9rem;
  border-radius: 0.5rem 0 0 0.5rem;
  border: 2px solid #eee;
  border-right: 1px solid #eee;
  width: 40vw;
}
.button i {
  padding: 1rem;
  font-size: 2rem;
}

.button {
  border-radius: 0 0.5rem 0.5rem 0;
  border: 2px solid #eee;

  border-left: 1px solid #eee;
}

.root {
  display: flex;
  place-content: center;
}
