html,
body,
#root {
  height: 100%;
  margin: 0;
}

html,
body,
* {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  font-size: 62.5%;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.7rem;
}

p {
  font-size: 1.6rem;
}

a,
a:active,
a:visited {
  font-size: 2rem;
  text-decoration: none;
  color: white;
}

:root {
  --primary: #00796b;
  --light: #48a999;
  --dark: #004c40;
  --accent: #546e7a;
  --warn: #ab000d;
  --success: #64dd17;
}
